{:dev  {:env {
              :database-url "postgresql://postgres@postgres:5432/greenhorn_dev"
              :github-user "xxx"
              :github-token "xxx"
              }
        }
 :test {:env {
              :database-url "postgresql://postgres@postgres:5432/greenhorn_dev"
              :github-user "xxx"
              :github-token "xxx"}
        }
 }