{:dev  {:env {
              :database-url "postgresql://postgres@postgres:5432/greenhorn_dev"
              :github-user "XXXXX"
              :github-token "XXXXX"
              }
        }
 :test {:env {
              :database-url "postgresql://postgres@postgres:5432/greenhorn_test"
              :github-user "XXXXX"
              :github-token "XXXXX"}
        }
 }